* {
  margin:0;
  box-sizing: border-box;
  padding:0;
}

.parallax {
  background-image:url("/img/undraw_game_day_ucx9.svg");
  height: 750px;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 50%;
}

.section {
  height: 100vh;
  background-color: azure;
  font-family:Arial, Helvetica, sans-serif;
}

.score {
  color: #333;
  display: flex;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
}

.score h2 {
  font-size: 30px;
  padding: 10px;
}

.intro {
  color: #333;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 1.5s ease-in-out;
}

.intro h1 {
  font-size: 4rem;
}

.intro button,
.match button{
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
  font-weight:300;
  cursor: pointer;
  border: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  color: rgb(255, 255, 255);
  background: rgb(45,117,96);
}

.match button:hover {
  background: rgb(54, 139, 114);
  color: #eee;
  transform:scale(1.1);
}

.match {
  max-width: 40%;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.hands,
.options
 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hands img{
  margin:auto;
  padding-bottom: 50px;
  width: 50%;
  padding-right: 50px;
}

.computer-hand {
  transform: rotateY(180deg);
}

.winner {
  color: #333;
  text-align: center;
  font-size: 50px;
}

div.disappear {
  opacity:0;
  pointer-events: none;
}

div.appear {
  opacity: 1;
  pointer-events: all;
}